# Database Connection
database = 'investimentos'

#Metlife parameters
metlife_fund_cnpj = '00.000.000/0000-00'
metlife_username = ''
metlife_password = ''

# Location for storing downloaded files
local_storage = '~/scraped/cvm'

# API Host and Port
api_host = '0.0.0.0'
api_port = 12001